@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400&family=Roboto:ital,wght@0,100;0,300;1,400&display=swap');

:root{
    --fuenteHeading:  'Outfit', sans-serif;
    --fuenteParrafos: 'Outfit', sans-serif;

    --darkGrey: #161a1d;
    --blanco: #ffffff;
}
   
html{
    box-sizing: border-box;
    font-size: 62,5%;
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

h1,h2,h3,h4{
    font-family: var(--fuenteHeading);
    font-weight: 400;
    color: var(--darkGrey);
    margin: 0%;
}

h4{
    font-size: 2rem;
}

a{
    font-family: var(--fuenteParrafos);
    font-size: 1.2rem;
    text-decoration: none;
    color: #161a1d;
}

p{
    font-family: var(--fuenteParrafos);
    font-weight: 300;
    font-size: 1rem;
    text-decoration: none;
    color: #161a1d;
}



h4 span{
    font-size: 1rem;
}

li span{
    font-size: 1.2rem ;
}

img{
    max-width: 100%;
}

/*HEADER*/

.header-contenedor{
    background-color: #87b38d;
    display: grid;
    margin-bottom: 3rem;
}

.titulo,
.navegacion{
    text-align: center;
}

.navegacion{
    display: grid;
}

.introduccion{
    width: 90%;
    margin: 0% auto;
    background-color: #87b38d;
    text-align: center;
    border: #161a1d solid 2px;
}

.introduccion p{
    font-size: 1rem;
    padding: 2rem;
}

.profile_pic{
    width: 10rem;
    filter:drop-shadow(3px 10px 12px grey);
    border-radius: 50%;
    margin-left: 30%;
    margin-top: -3rem;
}



@media(min-width: 768px) {
    .header-contenedor{
        background-color: #87b38d;
        display: flex;
        justify-content: space-between;
        height: 5rem;
    }

    .titulo,
    .navegacion{
        margin: 0 5rem;
        align-items: center;
    }
    .navegacion{
        display: flex;
        justify-content: space-evenly;
        gap: 1.5rem;
        align-items: center;
    }

    .introduccion{
        width: 50%;
        margin: 0% auto;
        background-color: #87b38d;
        text-align: center;
    }
    
    .introduccion p{
        font-size: 1rem;
        padding: 2rem 3rem;
    }
    .profile_pic{
        width: 10rem;
        filter:drop-shadow(3px 10px 12px grey);
        border-radius: 50%;
        margin-left: 43%;
        margin-top: -3rem;
    }
}

/*CONTENIDO PRINCIPAL*/

.review-contenedor{
    width: 100%;
    margin: 3rem auto;
}

.portada{
    width: 100%;
    margin: 2rem auto;
    align-items: center;
}

.img{
width: 10rem;
}   

.contenedor_img{
width: 100%;
}

.titulo_review{
    font-size: 2rem;
}

.contenedor_img{
    display: flex;
    gap: 2rem;
}

.contenedor_galeria{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.img_galeria{
    width: 20rem;
}

.despedida{
    width: 90%;
    margin: 4rem auto;
    background-color: #87b38d;
    text-align: center;
}

.despedida p{
    padding: 2rem;
    border: #161a1d solid 2px;
}

.portada_review{
    height: 30rem;
    background-image: url(media/galaxy-s10-plus-review-feat-edit2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.portada_texto{
    margin-left: 2rem;
    line-height: 3rem;
}

.span_portada{
    font-size: 1.9rem;
}

.span-texto{
    color: #87b38d;
}

.contenedor-conclusion{
    display: grid;
    grid-template-rows: 2,1fr;
}

.puntuacion{
    background-color: #87b38d;
    border: #161a1d solid 3px;
    width: 10rem;
    height: 7rem;
    padding: 1rem;
}

@media(min-width: 768px) {
    .review-contenedor{
        width: 80%;
        margin: 3rem auto;
    }
    
    .portada{
        width: 50%;
        margin: 2rem auto;
        align-items: center;
        border: #87b38d solid 3px;
    }

    .img{
        width: 10rem;
        border: #87b38d solid 3px;
    }   
    
    .contenedor_img{
        width: 100%;
        gap: 2rem;
    }
    
    .contenedor_galeria{
        width: 70%;
        display: flex;
        justify-content: space-between;
        gap: 3rem;
    }
    
    .img_galeria{
        width: 20rem;
        border: #87b38d solid 3px;
    }

    .despedida{
        width: 90%;
        margin: 4rem auto;
        background-color: #87b38d;
        text-align: center;
    }

    .despedida p{
        padding: 2rem;
    }

    .portada_review{
        height: 30rem;
        background-image: url(media/galaxy-s10-plus-review-feat-edit2.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: flex;
        align-items: center;
    }
    
    .portada_texto{
        margin-left: 2rem;
    }
    
    .span_portada{
        font-size: 1.9rem;
    }

    .span-texto{
        color: #87b38d;
    }

    .contenedor-conclusion{
        display: flex;
        align-items: center;
    }

    .puntuacion{
        background-color: #87b38d;
        width: 7rem;
        height: 7rem;
        padding: 1rem;
        margin-right: 5rem;
    }
}













